.row
  .col
    - flash.each do |type,message|
      .alert.alert-danger=message

.row
  .col-md-6
    .card.mb-3
      %h4.card-header
        = @view.name
      .card-block
        - if @view.note
          %blockquote.blockquote
            %small= @view.note

        %p.card-text
          = @view.street_name
          \,
          = @view.postal_code
          = @view.city
          %br/
          = link_to "Hemsida", @view.url
          %br/
          = link_to "Karta", "https://www.google.com/maps/place/#{@view.address_params}"

    .card.mb-3
      %h4.card-header
        Öppettider
      %table.table.table-sm
        %tbody
          - @view.hours.each do |hour|
            %tr.row.m-0{class: ('table-info' if hour.today?)}
              %th.pl-3.col{scope: :row}
                = hour.day_name
              %td.col
                = hour.opens_short
                \-
                = hour.closes_short
              %td.col
                %small= hour.note

  .col-md-6
    .card.mb-3
      %h4.card-header
        Förändringar
      %ul.list-group.list-group-flush
        = render partial: 'admin/preschools/show/site_change', collection: @view.site_changes.order("state IN ('active', 'new') DESC, created_at DESC")
