.row
  .col
    - flash.each do |type,message|
      .alert.alert-danger=message

.row
  .col-md-6
    .card.mb-3
      %h4.card-header
        = @view.name
      .card-block
        - if @view.note
          %blockquote.blockquote
            %small= @view.note

        %p.card-text
          = @view.street_name
          \,
          = @view.postal_code
          = @view.city
          %br/
          = link_to "Hemsida", @view.url
          %br/
          = link_to "Karta", "https://www.google.com/maps/place/#{@view.address_params}"

      %table.table.table-sm
        %col.td-col-sm
        %col.td-col-xl

        %tbody
          - @view.hours.each do |hour|
            %tr.m-0{class: ('table-info' if hour.today?)}
              %th.pl-3.pr-3
                = hour.day_name
              %td
                = hour.opens_short
                \-
                = hour.closes_short
                %small.pl-1= hour.note

    .card.mb-3.hidden-sm-down
      %h5.card-header
        URLer
      %ul.list-group.list-group-flush
        - @view.urls.each do |url|
          %li.list-group-item
            %ul.list-unstyled
              %li
                %a{href: url.url}
                  %samp
                    = url.url.truncate(50)
              %li
                %strong Extra
                %code= url.extras_element
              %li
                %strong Hours
                %code= url.hours_element


  .col-md-6
    .card.mb-3
      %h5.card-header
        Förändringar
      %ul.list-group.list-group-flush
        = render partial: 'admin/preschools/show/site_change', collection: @view.site_changes.not_done.order("state = 'active' DESC, state ='new' DESC, created_at DESC")
