.row
  .col
    - flash.each do |type,message|
      .alert.alert-danger=message

.row
  .col-md-6
    .card.mb-3
      %h4.card-header
        = @view.name
      .card-body
        - if @view.note
          %blockquote.blockquote
            %small= @view.note

        %p.card-text
          = @view.street_name
          \,
          = @view.postal_code
          = @view.city
          %br/
          = link_to "Hemsida", @view.url
          %br/
          = link_to "Karta", "https://www.google.com/maps/place/#{@view.address_params}"

      %table.table.table-sm
        %col.td-col-sm
        %col.td-col-xl

        %tbody
          %tr.m-0
            %td{colspan: 3}
              = simple_form_for [:admin, @view, Hour.new()], defaults: {label: false}, html: {class: 'form-inline'} do |form|
                = form.input_field :day_of_week, as: :select, collection: (1..5).map {|i| [I18n.t('date.day_names')[i], i]}, class: 'form-control form-control-sm mr-2', include_blank: 'Veckodag'
                = form.input_field :opens, class: 'form-control form-control-sm mr-2', placeholder: '08:00', as: :string
                = form.input_field :closes, class: 'form-control form-control-sm mr-2', placeholder: '15:00', as: :string
                = form.input_field :note, class: 'form-control form-control-sm mr-2', placeholder: 'Notis'
                = form.submit 'Spara', class: 'btn btn-sm btn-success'
          - @view.hours.each do |hour|
            %tr.m-0{class: ('table-info' if hour.today?)}
              %th.pl-3.pr-3
                = hour.day_name
              %td
                = best_in_place hour, :opens, as: :input, url: admin_preschool_hour_path(@view, hour), value: hour.opens_short, display_as: :opens_short, html_attrs: {'length' => 5, 'maxlength'=>  5}
                \-
                = best_in_place hour, :closes, as: :input, url: admin_preschool_hour_path(@view, hour), value: hour.closes_short, display_as: :closes_short, html_attrs: {length: 5, maxlength: 5}
                %small.pl-1
                  //= hour.note
                  = best_in_place hour, :note, as: :input, url: admin_preschool_hour_path(@view, hour), value: hour.note, place_holder: '...'
              %td
                = link_to admin_preschool_hour_path(@view, hour), method: :delete, data: {confirm: 'Äru säker?'} do
                  = fa_icon :trash

    .card.mb-3.hidden-sm-down
      %h5.card-header
        URLer
      %ul.list-group.list-group-flush
        - @view.urls.each do |url|
          %li.list-group-item
            %ul.list-unstyled
              %li
                %a{href: url.url}
                  %samp
                    = url.url.truncate(50)
              %li
                %strong Extra
                %code= url.extras_element
              %li
                %strong Hours
                %code= url.hours_element


  .col-md-6
    .card.mb-3
      %h5.card-header
        Förändringar
      #site_changes
        %ul.list-group.list-group-flush
          = render partial: 'admin/preschools/show/site_change', collection: @view.site_changes.not_done.order("state = 'active' DESC, state ='new' DESC, created_at DESC")
