.row
  .col-md-6
    .card.mb-3
      %h4.card-header
        = @view.name
      .card-block
        - if @view.note
          %blockquote.blockquote
            %small= @view.note

        %p.card-text
          = @view.street_name
          \,
          = @view.postal_code
          = @view.city
          %br/
          = link_to "Hemsida", @view.url
          %br/
          = link_to "Karta", "https://www.google.com/maps/place/#{@view.address_params}"

    .card.mb-3
      %h4.card-header
        Öppettider
      %table.table.table-sm
        %tbody
          - @view.hours.each do |hour|
            %tr.row.m-0{class: ('table-info' if hour.today?)}
              %th.pl-3.col{scope: :row}
                = hour.day_name
              %td.col
                = hour.opens_short
                \-
                = hour.closes_short
              %td.col
                %small= hour.note

  .col-md-6
    .card.mb-3
      %h4.card-header
        Förändringar
      %ul.list-group.list-group-flush
        - @view.site_changes.order(created_at: :asc).each do |change|
          %li.list-group-item.list-group-item-action.flex-column.align-items-start
            .d-flex.w-100.justify-content-between
              %h5.mb-1
                %span.badge.badge-info
                  = change.state
              %small= time_ago_in_words(change.created_at)
            - change.data.each do |key, value|
              %p.mb-1
                %strong= key
              = highlight(simple_format(value), 'Öppettider')
