.sm-col-10.md-col-10.lg-col-8.mx-auto.px2.mb3
  .p2.border.rounded{class: "border-#{preschool_closes_class(preschool)}"}
    .flex.flex-column
      .md-flex
        %div.sm-col.sm-col-12.md-col-8.lg-col-8
          %h2.mt0{class: "text-#{preschool_closes_class(preschool)}"}
            = preschool.name
            = link_to preschool.url do
              = icon :"external-link"
          = preschool.street_name
          = link_to "https://www.google.com/maps/place/#{preschool.address_params}" do
            = icon :"map-marker"

        %div.sm-col.sm-col-12.md-col-4.lg-col-4
          - if preschool.closed_for_day
            %span.bold
              Stängt
            .flex-column.mt1
              Morgondagens tider
              = render partial: 'home/index/hours', locals: {hours: @view.hours_tomorrow[preschool.id]}

          - else
            - if preschool.is_open
              Stänger om
              %span.bold
                = distance_of_time_in_words(@view.current_time, preschool.closes)
            - else # not open or closed for day => opens soon again
              Öppnar om
              %span.bold
                = distance_of_time_in_words(preschool.opens_again, @view.current_time)
            .flex-column.mt1
              Öppettider
              = render partial: 'home/index/hours', locals: {hours: @view.hours_today[preschool.id]}

      - if preschool.has_changes
        %div.sm-col.sm-col-11.md-col-12.lg-col-12
          - if preschool.active_change_note
            = render partial: 'home/index/change_note', locals: {note: preschool.active_change_note}
          - if preschool.predicted_change_note
            = render partial: 'home/index/change_note', locals: {note: preschool.predicted_change_note}
