.col-8.mb3.mx-auto
  .p2.bg-white.border.rounded{class: "border-#{preschool_closes_class(preschool)}"}
    .flex.flex-column
      .md-flex.justify-between
        %div
          %h2.mt0
            = preschool.name
            = link_to preschool.url do
              = icon :"external-link"
          = preschool.street_name
          = link_to "https://www.google.com/maps/place/#{preschool.address_params}" do
            = icon :"map-marker"
          - if @view.position?
            →
            %span.bold= number_to_human(preschool.distance, units: :distance)

        %div
          - if preschool.closed_for_day
            %span.bold
              Stängd
            .flex-column.mt1
              -# = icon :clock
              Morgondagens tider
              = render partial: 'home/index/hour', collection: @view.hours_tomorrow[preschool.id]

          - else
            - if preschool.is_open
              Stänger om
              %span.bold
                = distance_of_time_in_words(@view.current_time, preschool.closes)
            - else # not open or closed for day => opens soon again
              Öppnar om
              %span.bold
                = distance_of_time_in_words(preschool.opens_again, @view.current_time)
            .flex-column.mt1
              -# = icon :clock
              Öppettider
              = render partial: 'home/index/hour', collection: @view.hours_today[preschool.id]

      - if false#preschool.has_changes
        .flex-auto
          .site_changes
            %p.mb1.pt2
              = image_tag "flag.svg", class: "icon float-left mr-1 mt-1"
              %strong Info
          - if preschool.active_change_note
            = render partial: 'home/index/change_note', locals: {updated_at: preschool.active_change_updated_at, note: preschool.active_change_note}
          - if preschool.predicted_change_note
            = render partial: 'home/index/change_note', locals: {updated_at: preschool.predicted_change_updated_at, note: preschool.predicted_change_note}
