.col-md-4
  .card.mb-3{class: "card-outline-#{preschool_closes_class(preschool)}"}
    %h4.card-header{class: "bg-#{preschool_closes_class(preschool)}"}
      = preschool.name
      - if @view.position?
        %small= number_to_human(preschool.distance, units: :distance)

    .card-block
      - if preschool.is_open
        %h6.mb-3.font-weight-normal
          Stänger om
          = distance_of_time_in_words(Time.current, preschool.closes)
      - preschool.hours.today.each do |hour|
        %h6.mb-2
          %var{class: ('text-success' if hour.open?)}
            = hour.opens_short
            \-
            = hour.closes_short
          %small.ml-2= hour.note
      %p.card-text
        = preschool.street_name
        %br/
        = link_to "Hemsida", preschool.url
        %br/
        = link_to "Karta", "https://www.google.com/maps/place/#{preschool.address_params}"
