.col-md-4
  .card.mb-3{class: "card-outline-#{preschool_closes_class(preschool)}"}
    %h4.card-header{class: "bg-#{preschool_closes_class(preschool)}"}
      = preschool.name
      - if @view.position?
        %small= number_to_human(preschool.distance, units: :distance)

    .card-block
      - if preschool.closed_for_day
        %h6.mb-3
          Stängd, morgondagens tider:
        = render partial: 'home/index/hour', collection: preschool.hours.tomorrow

      - else
        %h6.mb-3.font-weight-normal
          - if preschool.is_open
            Stänger om
            = distance_of_time_in_words(@view.current_time, preschool.closes)
          - else # not open or closed for day => opens soon again
            Öppnar om
            = distance_of_time_in_words(preschool.opens_again, @view.current_time)
        = render partial: 'home/index/hour', collection: preschool.hours.today

      %p.card-text
        = preschool.street_name
        %br/
        = link_to "Hemsida", preschool.url
        %br/
        = link_to "Karta", "https://www.google.com/maps/place/#{preschool.address_params}"
      - if preschool.active_site_changes
        .site_changes
          = fa_icon :warning, class: 'float-left mr-1 mt-1'
          = preschool.active_site_change.note_html
