.row
  .col
    %h1.mt-3.mb-3.text-center
      Öppna Förskolor Malmö
    .offset-md-4.mb-3

    %nav.nav
      %span.nav-link.active
        Sortering:

      = link_to_if_else_span !@view.position?, href: '#', id: 'toggle_position', class: 'nav-link' do
        = fa_icon :'map-marker'
        Avstånd

      = link_to_if_else_span @view.position?, href: root_path, class: 'nav-link' do
        = fa_icon :'clock-o'
        Öppettider


    .alert.alert-warning{role: :alert, style: "display: none;"}
      Det gick inte att hämta din position.
    .row
      - @view.each do |preschool|
        .col-md-3
          .card.mb-3{class: "card-outline-#{preschool_closes_class(preschool)}"}
            %h4.card-header{class: "bg-#{preschool_closes_class(preschool)}"}
              = preschool.name
              - if @view.position?
                %small= number_to_human(preschool.distance, units: :distance)

            .card-block
              - if preschool.is_open
                %h6.mb-3.font-weight-normal
                  Stänger om
                  = distance_of_time_in_words(Time.current, preschool.closes)
              - preschool.hours.today.each do |hours|
                %h6.mb-2
                  %var{class: ('text-success' if hours.open?)}
                    = hours.opens_short
                    \-
                    = hours.closes_short
                  %small.ml-2= hours.note

              %p.card-text
                = preschool.street_name
                %br/
                = link_to "Hemsida", preschool.url
                %br/
                = link_to "Karta", "https://www.google.com/maps/place/#{preschool.address_params}"
