.row
  .col
    %h1.mt-3.mb-3.text-center
      Öppna Förskolor Malmö
    .offset-md-4.mb-3
      = link_to '#', id: 'toggle_position' do
        = fa_icon :'map-marker', class: 'fa-lg'
        Visa avstånd
    .alert.alert-warning{role: :alert, style: "display: none;"}
      Det gick inte att hämta din position.
    .row
      - @view.each do |preschool|
        .col-md-3
          .card.mb-3{class: "card-outline-#{preschool_closes_class(preschool)}"}
            %h4.card-header{class: "bg-#{preschool_closes_class(preschool)}"}
              = preschool.name
              - if @view.position?
                %small= number_to_human(preschool.distance, units: :distance)

            .card-block
              - if preschool.is_open
                %h6.mb-3.font-weight-normal
                  Stänger om
                  = distance_of_time_in_words(Time.current, preschool.closes)
              - preschool.hours.today.each do |hours|
                %h6.mb-2
                  %var{class: ('text-success' if hours.open?)}
                    = hours.opens_short
                    \-
                    = hours.closes_short
                  %small.ml-2= hours.note

              %p.card-text
                = fa_icon :home, class: 'fa-fw'
                = preschool.street_name
                %br/
                = fa_icon :globe, class: 'fa-fw'
                = link_to "Hemsida", preschool.url
                %br/
                = fa_icon :'map-marker', class: 'fa-fw'
                = link_to "Karta", "https://www.google.com/maps/place/#{preschool.address_params}"
