.row
  .col-md-6
    .card.mb-3
      .card-body
        %h6.card-title
          Info
        - if @view.note
          %blockquote.blockquote
            %small= @view.note

        %p.card-text
          = @view.street_name
          \,
          = @view.postal_code
          = @view.city
          %br/
          = best_in_place @view, :url, as: :input, url: admin_preschool_path(@view), value: @view.url, display_as: :url_short
          = link_to @view.url, target: "_blank", class: "icon" do
            = fa_icon :"external-link"
          %br/
          = link_to "Karta", "https://www.google.com/maps/place/#{@view.address_params}"

  .col-md-6
    .card.mb-3
      .card-body
        %h6.card-title.mb-0
          URLer
      %ul.list-group.list-group-flush
        - @view.urls.order(id: :asc).each do |url|
          %li.list-group-item
            %ul.list-unstyled
              %li
                = best_in_place url, :url, as: :input, url: admin_preschool_url_path(@view, url), value: url.url, display_as: :url_short
                %a.icon.ml-1{href: url.url, target: "_blank"}
                  = fa_icon :"external-link"
              %li
                %strong Extra
                %code
                  = best_in_place url, :extras_element, as: :input, url: admin_preschool_url_path(@view, url), value: url.extras_element
              %li
                %strong Hours
                %code
                  = best_in_place url, :hours_element, as: :input, url: admin_preschool_url_path(@view, url), value: url.hours_element
              %li
                %strong Fungerar
                = best_in_place url, :error_on_check, as: :checkbox, collection: {true: "Nej ❌", false: "Jo 👍"}, url: admin_preschool_url_path(@view, url), value: (url.error_on_check ? "1" : "0")
