!!!
%html
  %head
    %title
      = "[#{Rails.env}]"
      Admin
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags

    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name:  :viewport}/

  %body
    = content_for :nav
    %nav.navbar.navbar-inverse.fixed-top.bg-inverse.navbar-toggleable-md
      %a.navbar-brand{href: admin_preschools_path} Admin

      %ul.navbar-nav
        %li.nav-item.active
          %a.nav-link{href: root_path, target: :_blank}
            Hemsida

    %div.container-fluid
      .row
        = render 'admin/sidebar'
        %main.col-md-10.pt-3.offset-md-2.mt-5
          = yield
