!!!
%html
  %head
    %title
      = "[#{Rails.env}]"
      Admin
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags

    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name:  :viewport}/

  %body
    #wrapper
      #sidebar-wrapper.bg-faded
        = render 'admin/sidebar'
      #page-content-wrapper
        = content_for :nav
        %nav.navbar.navbar-inverse.bg-inverse.fixed-top
          .d-flex.flex-row
            %button#menu-toggle.navbar-toggler.hidden-lg-up{type: "button"}
              %span.navbar-toggler-icon
            %ul.navbar-nav
              %li.nav-item.active
                %a.navbar-brand.ml-2{href: admin_preschools_path} Admin
              %li.nav-item.active
                %a.nav-link{href: root_path, target: :_blank}
                  Hemsida
        .container-fluid
          .row
            .col-lg-12
              = yield

    :javascript
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
