!!!
%html
  %head
    %title
      = "[#{Rails.env}]"
      Admin
    = stylesheet_link_tag    'admin', media: 'all'
    = javascript_include_tag 'admin'
    = csrf_meta_tags

    %meta{content: "width=device-width, initial-scale=1, user-scalable=no", name:  :viewport}/

  %body
    #wrapper
      #sidebar-wrapper.bg-light
        = render 'admin/sidebar'
      #page-content-wrapper
        = content_for :nav
        %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
          %a.navbar-brand.ml-2{href: admin_preschools_path} Admin
          %ul.navbar-nav.mr-auto
            %li.nav-item
              %a.nav-link{href: root_path, target: :_blank}
                Hemsida
          %button.navbar-toggler
            %span.navbar-toggler-icon

        .container-fluid
          .row
            .col-lg-12
              = yield

    :javascript
      $(".navbar-toggler").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
      });
