!!!
%html{lang: :sv}
  %head
    %title
      = "[#{Rails.env}]" unless Rails.env.production?
      Öppna förskolor Malmö
    = render partial: 'layouts/bass'
    = render partial: 'layouts/styles'
    = render partial: 'layouts/meta'
    - if Rails.env.production?
      :plain
        <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
        <script>
        (function(f, a, t, h, o, m){
          a[h]=a[h]||function(){
            (a[h].q=a[h].q||[]).push(arguments)
          };
          o=f.createElement('script'),
          m=f.getElementsByTagName('script')[0];
          o.async=1; o.src=t; o.id='fathom-script';
          m.parentNode.insertBefore(o,m)
        })(document, window, '//analytics.oppenforskola.se/tracker.js', 'fathom');
        fathom('set', 'siteId', 'UQDNX');
        fathom('trackPageview');
        </script>
        <!-- / Fathom -->
    :plain
      <!-- Get geolocation -->
      <script>
      (function() {
        window.onload = function() {
          var o,
            n,
            t,
            e;
          return "geolocation" in navigator ? (n = {
            timeout: 2500,
            maximumAge: 0
          }, t = function(o) {
            var n;
            return n = o.coords, console.log(n.latitude, n.longitude), window.location = "/position/" + n.latitude + "," + n.longitude
          }, o = function() {
            return console.warn("Couldnt get position"), document.getElementById("alert").style.display = "block"
          }, (e = document.getElementById("toggle_position")) ? e.onclick = function() {
            return navigator.geolocation.getCurrentPosition(t, o, n)
          } : void 0) : (console.log("no geolocation"), document.getElementById("alert").style.display = "none")
        }
      }).call(this);
      </script>

  %body
    = image_tag "open-iconic.min.svg", id: "icon-map"
    = content_for :nav
    %div.container
      = yield

    %footer.pr2.pl2
      .container
        %p
          Kul att du har hittat hit! Jag byggde den här sidan för att enkelt kunna hitta dagens öppettider
          för öppna förskolor i Malmö.
          %br/
          När en förskola publicerar avvikande öppettider eller annan information på sin hemsida så visas en notis.
          %br/
          Om du har några önskemål eller synpunkter, tveka inte att
          = succeed '.' do
            = link_to "höra av dig", "mailto:jon@jonnev.se"
        %ul.list-inline.mb-0
          %li.list-inline-item
            2017
            Jon Neverland -
            %a{href: "https://jonnev.se"} jonnev.se
          %li.list-inline-item
            Ikoner -
            %a{href: "https://useiconic.com/open"} Open Iconic




