!!!
%html
  %head
    %title
      = "[#{Rails.env}]" unless Rails.env.production?
      Öppna förskolor Malmö
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = render partial: 'layouts/meta'

  %body
    = content_for :nav
    %div.container
      = yield

    %footer.text-muted
      .container
        %ul.list-inline.mb-0
          %li.list-inline-item
            © 2017 Jon Neverland
          %li.list-inline-item
            %a{:href => "https://jonnev.se"} jonnev.se


- if Rails.env.production?
  :plain
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-90846828-1', 'auto');
      ga('send', 'pageview');

    </script>
