!!!
%html{lang: :sv}
  %head
    %title
      = "[#{Rails.env}]" unless Rails.env.production?
      Öppna förskolor Malmö
    = render partial: 'layouts/bass'
    = render partial: 'layouts/styles'
    = render partial: 'layouts/meta'
    = render partial: 'layouts/scripts'
  %body
    = content_for :nav
    %div.container
      = yield

    %footer.pr2.pl2
      .container
        .sm-col-10.md-col-10.lg-col-8.mx-auto.px2.mb3
          %p
            Hej, kul att du har hittat hit!
          %p
            Jag byggde den här sidan för att enkelt kunna hitta dagens öppettider
            för öppna förskolor i Malmö.
            %br/
            När en förskola publicerar avvikande öppettider eller annan information på sin hemsida så visas en notis.
          %p
            %strong Notera:
            Sidan är inte associerad med Malmö stad. Felaktig/ej uppdaterad information kan förekomma.
            %br/
            Om du har några önskemål eller synpunkter, tveka inte att
            = succeed '.' do
              = link_to "höra av dig", "mailto:jon@jonnev.se"
          %ul.list-inline.mb-0
            %li.list-inline-item
              2019
              Jon Neverland -
              %a{href: "https://jonnev.se"} jonnev.se
            %li.list-inline-item
              Ikoner -
              %a{href: "https://useiconic.com/open"} Open Iconic




